<div>
<center>
<br />
<h3>{{ relation }}</h3>
<br />
<form method='post' action='results'>
    <h1>Paste Article</h1>
    <textarea name="article" width="300px" id="article" rows="5" cols="75"></textarea>
    <br />
    <select name="relation">
        <option value="Synonymy">Synonymy</option>
        <option value="Hypnomy">Hypnomy</option>
        <option value="Meronymy">Meronymy</option>
        <option value="Holynymy">Holynymy</option>
    </select>
    <input type='submit' value='RUN' />
</form>
</center>
</div>